{% extends 'admin/base.html.twig' %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-10 offset-2">
                <h2 class="display-4 my-4">Ajouter un utilisateur</h2>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}